stages:
    - install
    - compile_default
    - run_quick
    - run_default
    - compile_picsar
    - run_picsar
    - compile_debug
    - compile_no_mpi_threadmultiple
    - compile_no_openmp
    - compile_omptasks
    - run_omptasks
#    - test_gpu


#stages:
#    - install_gpu

install_gpu:
  stage: install
  tags:
    - ruche-ci-gpu
  only: 
    - ci_gpu
  script:
    - source /gpfs/users/prouveurc/myhdf5_env_smilei.sh
    # adapt script tornado -> ruche
    # Move in test dir  -> NOT needed, by default the runner will give the order to git clone the repo and cd inside before our instructions (in "script")
    #- cd validation/  # $GITLAB_RUNNER_WORKDIR/$CI_PIPELINE_ID/smilei/
    # Run validation script
    - make -j 40  machine="ruche_gpu2" config="gpu_nvidia noopenmp verbose"  # TODO: make a script that launches the job on a cpu node
    - cp -r $PWD/ /gpfs/workdir/prouveurc/runs/ci_runs/

test_gpu:
  stage: run_default
  tags:
    - ruche-ci-gpu
  only: 
    - ci_gpu
  script:
    - source /gpfs/users/prouveurc/myhdf5_env_smilei.sh
    - module load anaconda3/2022.10/gcc-11.2.0
    - cd /gpfs/workdir/prouveurc/runs/ci_runs/smilei/validation/
    - python gpu_validation.py
    - cd /gpfs/workdir/prouveurc/runs/ci_runs
    - rm -rf /gpfs/workdir/prouveurc/runs/ci_runs/*


install_cpu:
  stage: install
  only:
    - develop
    - ci_gpu
 
  script:
    # Force workdir cleaning in case of retried
    - echo "CI_PIPELINE_ID = " $CI_PIPELINE_ID
    - env
    - if [ -d /sps3/gitlab-runner/$CI_PIPELINE_ID ] ; then rm -rf /sps/gitlab-runner/$CI_PIPELINE_ID ; fi
    # Move in test dir
    - mkdir -p /sps3/gitlab-runner/$CI_PIPELINE_ID
    - cp -r $CI_PROJECT_DIR /sps3/gitlab-runner/$CI_PIPELINE_ID
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
    # Set the environment
    - make uninstall_happi
    - make happi

compile_default:
  stage: compile_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -c  -v -l "/sps3/gitlab-runner/logs" -t "00:30:00"

runQuick:
  stage: run_quick
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -b "tst_quick_1d.py" -m 1 -o 1 -v

run1D:
  stage: run_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -b "tst1d_*_*.py" -m 2 -o 12 -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst_ionization_current_1d*.py" -m 2 -o 12 -v -r 1 -l "/sps3/gitlab-runner/logs"

run2D:
  stage: run_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -b "tst2d_??_*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst2d_s_??_*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst2d_v_??_*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst_ionization_current_2d*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"

run3D:
  stage: run_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -b "tst3d_??_*.py" -m 8 -o 12   --resource-file resources.json -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst3d_s_??_*.py" -m 8 -o 12 --resource-file resources.json -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst3d_v_??_*.py" -m 8 -o 12 --resource-file resources.json -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst3d_a_??_*.py" -m 8 -o 12 --resource-file resources.json -v -r 1 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tst_ionization_current_3d*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"

runAM:
  stage: run_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run validation script
    - python validation.py -b "tstAM_??_*.py" -m 8 -o 12 -v -t 00:30:00 -l "/sps3/gitlab-runner/logs"
    - python validation.py -b "tstAM_v_??_*.py" -m 8 -o 12 -v -t 00:30:00 -l "/sps3/gitlab-runner/logs"

runCollisions:
  stage: run_default
  only:
    - develop
    - ci_gpu
 
  script:
    # Move in test dir
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    # Run checking script
    - python validation.py -b "tst_collisions*.py" -m 4 -o 4 -n 1 -v -r 1 -l "/sps3/gitlab-runner/logs"

compile_picsar:
  stage: compile_picsar
  only:
    - develop
    - ci_gpu

  script:
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
    - make clean
    - python validation/validation.py -k picsar -c -v

run_picsar:
  stage: run_picsar
  only:
    - develop
    - ci_gpu

  script:
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
    - python validation.py -k picsar -b "tstAM_picsar_04_laser_wake.py" -m 4 -o 4 -n 1 -v

compile_debug:
  stage: compile_debug
  only:
    - develop
    - ci_gpu

  script:
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
    - make clean
    - python validation/validation.py -k debug -c -v

compile_no_mpi_threadmultiple:
  stage: compile_no_mpi_threadmultiple
  only:
    - develop
    - ci_gpu

  script:
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
    - make clean
    - python validation/validation.py -k no_mpi_tm -c -v

compile_no_openmp:
  stage: compile_no_openmp
  only:
    - develop
    - ci_gpu

  script:
    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
    - make clean
    - python validation/validation.py -k noopenmp -c -v

#compile_omptasks:
#  stage: compile_omptasks
#  only:
#    - develop
#
#  script:
#    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei
#    - make clean
#    - python validation/validation.py -k omptasks -c -v
#
#run_omptasks:
#  stage: run_omptasks
#  only:
#    - develop
#    
#  script:
#    - cd /sps3/gitlab-runner/$CI_PIPELINE_ID/smilei/validation
#    - python validation.py -k omptasks -b "tst2d_tasks_01_radiation_pressure_acc.py" -m 4 -o 4 -n 1 -v
