build/*
.*.swp
*.d
\#*\#
*~
.depend
validation/workdir*
smilei
smilei_test
src/smilei.*
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.toc
*.orig
doc/html/*
*.user
doc/html
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.swo
*/*.swo
*/*/*.swo
*/*/*/*.swo
exec_script.sh.*
.tags*
settings.json
