build/*
.*.swp
\#*\#
*~
.depend
run*
Run*
RUN*
Validation*
src/smilei
src/smilei.*
*smilei
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.toc
*.orig
*.pyh
doc/Sphinx/_build/*
*.o
/src/Diagnostic/Diagnostic.d
/src/Diagnostic/DiagnosticPhase.d
/src/Diagnostic/DiagnosticPhaseMomMom.d
/src/Diagnostic/DiagnosticPhasePosLor.d
/src/Diagnostic/DiagnosticPhasePosMom.d
/src/Diagnostic/DiagnosticPhaseSpace.d
/src/Diagnostic/DiagnosticProbe.d
/src/Diagnostic/DiagnosticScalar.d
/src/ElectroMagn/ElectroMagn.d
/src/ElectroMagn/ElectroMagn1D.d
/src/ElectroMagn/ElectroMagn2D.d
/src/ElectroMagnBC/ElectroMagnBC.d
/src/ElectroMagnBC/ElectroMagnBC1D_SM.d
/src/ElectroMagnBC/ElectroMagnBC2D_Long_SM.d
/src/ElectroMagnBC/ElectroMagnBC2D_Trans_Damping.d
/src/ElectroMagnBC/ElectroMagnBC2D_Trans_SM.d
/src/Field/Field1D.d
/src/Field/Field2D.d
/src/Field/Field3D.d
/src/Interpolator/Interpolator.d
/src/Interpolator/Interpolator1D.d
/src/Interpolator/Interpolator1D2Order.d
/src/Interpolator/Interpolator1D3Order.d
/src/Interpolator/Interpolator1D4Order.d
/src/Interpolator/Interpolator2D.d
/src/Interpolator/Interpolator2D2Order.d
/src/Interpolator/Interpolator2D4Order.d
/src/Ionization/Ionization.d
/src/Ionization/IonizationTunnel.d
/src/Laser/Laser.d
/src/MovWindow/SimWindow.d
/src/Params/DiagParams.d
/src/Params/InputData.d
/src/Params/LaserParams.d
/src/Params/PicParams.d
/src/Patch/Hilbert_functions.d
/src/Patch/Patch.d
/src/Patch/Patch1D.d
/src/Patch/Patch2D.d
/src/Patch/VectorPatch.d
/src/Projector/Projector.d
/src/Projector/Projector1D.d
/src/Projector/Projector1D2Order.d
/src/Projector/Projector1D4Order.d
/src/Projector/Projector2D.d
/src/Projector/Projector2D2Order.d
/src/Projector/Projector2D4Order.d
/src/Smilei.d
/src/SmileiIO/Checkpoint.d
/src/SmileiIO/SmileiIO.d
/src/SmileiIO/SmileiIO_Cart1D.d
/src/SmileiIO/SmileiIO_Cart2D.d
/src/SmileiMPI/SmileiMPI.d
/src/SmileiMPI/SpeciesMPI.d
/src/Species/.Species.cpp.swo
/src/Species/PartBoundCond.d
/src/Species/Particles.d
/src/Species/Pusher.d
/src/Species/PusherBoris.d
/src/Species/Species.d
/src/Species/Species_norm.d
/src/Species/Species_rrll.d
/src/SpeciesProfile/DensityProfile1D.d
/src/SpeciesProfile/DensityProfile2D.d
/src/Tools/Timer.d
/src/Tools/Tools.d
/src/Tools/userFunctions.d
