/* --------------------------------------------------------------------*/
/* Color styles that are used in tags :red: or :blue: */
.blue {
	color:blue;
}
.red {
	color:red;
}
.purple {
	color:#6967AB;
}
.green {
	color:green;
}
.orange {
	color:orange;
}

/* --------------------------------------------------------------------*/
/* Style for the "In progress" block */
.inprogress {
	text-align:center;
	padding:5px;
	margin:0 30%;
	background-color: #EAF4FD;
	border: 1px solid #0672BA;
}

/* Style for an emphasized link */
.emphlink {
	text-align:center;
	font-size:1.3em;
}

/* --------------------------------------------------------------------*/
/* Prevent tables to wrap lines */
table.nowrap {
	white-space: nowrap;
}
/* Remove bottom margin in table cells with line-blocks */
table.docutils div.line-block {
	margin-bottom:0;
}

table.noborder, table.noborder td {
	border:0 !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	vertical-align:middle;
}
/* Make nicer table header */
table.docutils thead {
	background-color: #f1f6ff;
}

/* --------------------------------------------------------------------*/
/* Logos and icons */
img.logo {
	width:160px;
}
div.sphinxsidebarwrapper p.logo {
	text-align: left;
}
.horizontallogo {
	display:none;
	height:5em;
}
@media screen and (max-width: 875px) {
	.horizontallogo {
		display:block;
	}
}
.icon {
	display:inline-block;
	text-align:center;
	margin:0.3em;
	width:100px;
}
.icon * {
	margin:0 auto;
	display:block;
}
.icon img {
	height:3em;
}
.icon, .icon:hover {
	text-decoration:none;
	color:#333;
}
.icon:hover {
	background-color:#EAF4FD;
}
.icon:active {
	background-color:#BBDDFA;
}

/* --------------------------------------------------------------------*/
/* Styles for the lab logos container */
div.lablogos {
	border:0px solid #555;
}
div.lablogos > br.clear {
	clear:both;
}
div.lablogos > div {
	padding:5px;
	float:left;
}

/* --------------------------------------------------------------------*/
/* Nice blue menu on the sidebar */
div.toctree-smilei > ul > li > a {
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;
	color: #0672ba;
	border:0;
}
div.toctree-smilei > ul, div.toctree-smilei > li {
	margin: 0;
	padding: 0;
}
/* Adjust the sidebar color for small screens */
@media screen and (max-width: 875px) {
	div.sphinxsidebar {
		background: #EAF4FD;
		padding: 10px 30px;
		width: 100%;
	}
	div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p, div.sphinxsidebar h3 a {
		color: #444;
	}
	div.sphinxsidebar a {
		color: #444;
	}
}

/* --------------------------------------------------------------------*/
/* Some tricks for the citations */
/* Remove the weird shadows */
table.docutils.citation, table.docutils.citation * {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* Remove the back-reference links when there are several back-references */
table.citation td.label + td > em {
	display:none;
}
table.citation td.label + td ol {
	margin-top: 0 !important;
}
/* Remove the back-reference link when there is one back-reference */
table.citation td.label a {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: inherit;
}
/* Make a "bigcitation" class for citations with several lines */
table.bigcitation td.label {
	max-width: 3px;
}
table.bigcitation td.label + td {
	padding-top: 25px;
}

/* --------------------------------------------------------------------*/
/* Adjust code blocks */
dl pre, blockquote pre, li pre {
	margin-left:0;
}
div.highlight > pre {
	padding-left:0.3em;
}

/* --------------------------------------------------------------------*/
/* Adjust horizontal lines */
hr {
	margin-top:1em;
	border-color: #0672ba;
}
.toctree-smilei hr {
	margin: 0.2em 0;
	background: #0672ba !important;
	width:60% !important;
}

/* --------------------------------------------------------------------*/
/* Color for titles */
h1, h2, h3, h4, h5, h6 {
	color: #0672ba;
	font-weight:bold !important;
}

/* --------------------------------------------------------------------*/
/* Smaller admonition box */
div.admonition {
	padding:7px !important;
	margin:0px 30px !important;
	background-color: #EAF4FD;
	border: 1px solid #0672BA;
	overflow: hidden;
}
div.admonition p.admonition-title {
	font-size: 18px;
	font-weight: bold;
	margin:0;
	float: inherit;
}
div.admonition p {
	margin:5px 0;
	float: right;
}

/* --------------------------------------------------------------------*/
/* Adjust figure */
.figure {
	text-align:center;
}
.caption-number {
	margin-right:8px;
	padding-right:4px;
	border-right:1px solid #BBB;
}
.caption {
	margin-top:0;
	margin-bottom:0;
}
.image-reference, table.noborder td:first-child > .reference {
	border-bottom:0 !important;
}


div.related {
	display: none;
}

/* --------------------------------------------------------------------*/
/* Back to top box */

#backToTopContainer {
	position:fixed;
	bottom:0;
	left:50%;
}
#backToTopDiv {
	position:relative;
	left:-255px;
	bottom:5px;
	padding:5px;
	text-decoration:none;
	background-color:#EEE;
	cursor:pointer;
}
#backToTopDiv img {
	height:1em;
}
#backToTopDiv:hover {
	text-decoration:none;
}
#backToTopDiv:hover {
	background-color:#EAF4FD;
}
#backToTopDiv:active {
	background-color:#BBDDFA;
}

@media screen and (max-width: 875px) {
	#backToTopContainer {
		left:0;
	}
	#backToTopDiv {
		left:5px;
	}
}
@media print
{
	#backToTopDiv { display: none !important; }
}